<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--REPORTS SECTION START-->
    <add key="ReportsPath" value="C:\Users\cgiorda\Documents\~ProjectProfiles\" />
    <add key="ExcelTemplate" value="C:\Users\cgiorda\source\Workspaces\Workspace\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PR_Spec_Ch4_AdHoc_Details_SAS\bin\Debug\template\PR_Spec34_Details_template.xlsx" />
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <!--REPORTS SECTION END-->


    <add key="SAS_Host" value="sasgrid.uhc.com" />
    <add key="SAS_Port" value="8565" />
    <add key="SAS_ClassIdentifier" value="0217E202-B560-11DB-AD91-001083FF6836" />
    <add key="SAS_UN" value="cgiorda" />
    <add key="SAS_PW" value="BooWooDooFoo2023!!" />
    <add key="SAS_UN_UNIX" value="cgiorda" />
    <add key="SAS_PW_UNIX" value="BooWooDooFoo2023!!" />

    <add key="MpinCSV" value="2710552" />



    <!--94114!!
        <add key="MpinCSV" value="2647, 15562, 1407426, 151492, 42680, 84096, 359, 424123, 41898, 25775, 440347, 15201, 107785, 11967, 4111, 81879, 13772, 91290, 1704, 132" />
<add key="MpinCSV" value="1806891,2353039,3232089,3368892,2895843,5620868,6167548,15201, 15447, 18190,46857, 83359, 84096,94114, 113087, 219898" />
    <add key="MpinCSV" value="2647, 15562, 1407426, 151492, 42680, 84096, 359, 424123, 41898, 25775, 440347, 15201, 107785, 11967, 4111, 81879, 13772, 91290, 1704, 132, 285530, 25440, 79256, 16577, 97281, 844269, 628017, 6352649, 15374, 2095002, 40827, 969, 126529, 185, 159981, 1509, 428, 1592, 10553, 14721, 10541, 6581, 2314, 42460, 882353, 11288, 3485, 829434, 33330, 50257, 718725, 34045, 49268, 8714, 1383595, 36030, 3190, 98361" />-->



    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>