<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--REPORTS SECTION START-->
    <add key="ReportsPath" value="C:\~ProjectProfiles\PR_Spec3_AdHoc_Details\" />
    <add key="ExcelTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PR_Spec3_AdHoc_Details\bin\Debug\template\PR_Spec3_Details_template.xlsx" />
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <!--REPORTS SECTION END-->


    <!--ADD MPINS WITHIN VALUE START
    <add key="MpinCSV" value="1849, 49439, 10559, 86, 1209, 137783, 1590, 1599, 10544, 1949, 2832, 5982, 27647, 6353,5689592, 6355280, 5663309, 6204465, 6206594, 3355147, 6071014, 6121382, 5812598, 5508163, 6076431, 5476996, 5756209, 5627941" />
    <add key="MpinCSV" value="278495, 87295, 258278, 32611, 71082, 91642, 11288, 14049, 3890, 32102, 43369, 50190" />
    <add key="MpinCSV" value="2106102,2459763,2782957,3193958,3283924,3312907,3478544,995426,278495, 87295, 258278, 32611, 71082, 91642, 11288, 14049, 3890, 32102, 43369, 50190" />-->
    <add key="MpinCSV" value="2276784" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>