<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="PageSize" value="23" />
    <!--REPORTS SECTION START-->
    <!--<add key="ReportsPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\pr_on_profiles_phase2_v1\bin\Debug\reports\{$profileType}\{$folderName}" />
    <add key="PEIPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\pr_on_profiles_phase2_v1\bin\Debug\reports\PEIPath\" />-->


    <add key="ReportsPath" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCR_Oncology_C2_SAS\{$profileType}\{$folderName}" />
    <add key="PEIPath" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCR_Oncology_C2_SAS\PEIPath\" />




    <add key="StartDate" value="April 15, 2021" />
    <add key="EndDate" value="3/31/2021" />
    <add key="ProfileDate" value="March 1, 2021" />
    <add key="VisibleWord" value="False" />
    <add key="VisibleExcel" value="False" />
    <add key="SaveWord" value="True" />
    <add key="SaveExcel" value="True" />
    <add key="ExcelTemplate" value="C:\Users\cgiorda\source\Workspaces\Workspace\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Oncology_CH2_2021_SAS\bin\Debug\template\pr_on_profile.xlsx" />
    <add key="WordTemplate" value="C:\Users\cgiorda\source\Workspaces\Workspace\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Oncology_CH2_2021_SAS\bin\Debug\template\pr_on_profile.docx" />
    <add key="WordTemplateND" value="C:\Users\cgiorda\source\Workspaces\Workspace\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Oncology_CH2_2021_SAS\bin\Debug\template\pr_on_profile_nd.docx" />


    <add key="SAS_Host" value="sasgrid.uhc.com" />
    <add key="SAS_Port" value="8565" />
    <add key="SAS_ClassIdentifier" value="0217E202-B560-11DB-AD91-001083FF6836" />
    <add key="SAS_UN" value="cgiorda" />
    <add key="SAS_PW" value="BooWooDooFoo2023!!" />
    <add key="SAS_UN_UNIX" value="cgiorda" />
    <add key="SAS_PW_UNIX" value="BooWooDooFoo2023!!" />



    <add key="OverwriteExisting" value="False" />


    <add key="Phase" value="1.2" />
    <add key="SpecialtyId" value="4" />
    <add key="EpisodeCount" value="0" />


    <!--REPORTS SECTION END-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>