<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="PageSize" value="23" />
    <!--REPORTS SECTION START-->
    <!--<add key="ReportsPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\PR_profiles_phase2_v1\bin\Debug\reports\{$profileType}\{$folderName}" />
    <add key="PEIPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\PR_profiles_phase2_v1\bin\Debug\reports\PEIPath\" />-->


    <add key="ReportsPath" value="C:\~ProjectProfiles\PCR_Specialty_ch2\{$profileType}\{$folderName}" />
    <add key="PEIPath" value="C:\~ProjectProfiles\PCR_Specialty_ch2\PEIPath\" />




    <add key="StartDate" value="7/1/2012" />
    <add key="EndDate" value="6/30/2013" />
    <add key="ProfileDate" value="November 3, 2017" />
    <add key="VisibleWord" value="False" />
    <add key="VisibleExcel" value="False" />
    <add key="SaveWord" value="True" />
    <add key="SaveExcel" value="True" />
    <add key="ExcelTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile.xlsx" />
    <!--<add key="WordTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile.docx" />-->




    <add key="WordTemplateUtil" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile_util.docx" />
    <add key="WordTemplateProc" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile_proc.docx" />
    <add key="WordTemplateUtilAndProc" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile_util_and_proc.docx" />

    <add key="OverwriteExisting" value="False" />


    <add key="Phase" value="1.2" />
    <add key="SpecialtyId" value="4" />
    <add key="EpisodeCount" value="0" />


    <!--REPORTS SECTION END-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>