<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="clientId_dev" value="????????"/>
    <add key="clientSecret_dev" value="????????"/>
    <add key="tokenURL_dev" value="https://fs2-stagedmz-ose3.optum.com:443/v2/oauth2/token.json"/>
    <add key="documentURL_dev" value="https://fs2-stagedmz-ose3.optum.com:443/v2/documents/"/>
    <add key="attachmentURL_dev" value="https://fs2-stagedmz-ose3.optum.com/v2/attachments/{$attachment_id}"/>
    <add key="external_id_dev" value="????????"/>
    <add key="space_id_dev" value="????????"/>

  </appSettings>
</configuration>