<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--<add key="PEI_Database" value="Data Source=dbvep32619;Initial Catalog=PEIPortalDB;Integrated Security=SSPI;" />
    <add key="PEI_Database" value="Data Source=DBSED0112;Initial Catalog=PEIPortalDB;Integrated Security=SSPI;" />
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />-->

    <add key="Environment" value="Dev" />
    <add key="PEI_Database" value="Data Source={$peidbhostname};Initial Catalog=PEIPortalDB; User Id={$peidbusername}; Password={$peidbpassword};MultipleActiveResultSets=true;" />
    <!--<add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />-->
    <add key="ILUCA_Database" value="Data Source={$ilucadbhostname};Initial Catalog=IL_UCA; User Id={$ilucadbusername}; Password={$ilucadbpassword};MultipleActiveResultSets=true;persist security info=true;" />
    <add key="UGAP_Database" value="Data Source={$ugapdbhostname};User ID={$ugapdbusername};Password={$ugapdbpassword};Authentication Mechanism=LDAP" />


   



    <add key="ExcelXConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={$filePath};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;';" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={$filePath};Extended Properties='Excel 8.0;HDR=YES;IMEX=1;';" />


    <!--<add key="Tracker_UploadPath" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - PBP(PR)\QA\QA_Tracker_Uploads" />-->
    <add key="Tracker_UploadPath" value="\\NAS05058PN\Data_fl054\PeerComparisonReport\Project_Documents\Operational Documents\QA_Tracker_Uploads" />
    <add key="PEI_DocumentsPath" value="\\naselr001vn\pei2_shared_docs" />
    <add key="PEI_OpenEngagement" value="http://peiportal2{$prod-dev}.uhc.com/engagementdetails/index?eid={$eid}" />
    <add key="PEI_ClosedEngagement" value="http://peiportal2{$prod-dev}.uhc.com/engagementdetails/EntryView?eid={$eid}" />




    <add key="ILUCA_Active_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="Member_Details_Template_Path" value="\\NAS05058PN\Data_fl054\PeerComparisonReport\Project_Documents\Operational Documents\UCS_Companion_Application_Templates\Adhoc_Details\" />
    <!--<add key="Member_Details_Reports_Path" value="%USERPROFILE%\Desktop\MemberDetails" />-->
    <add key="Member_Details_Reports_Path" value="H:\~MemberDetails" />
    <add key="QACompanion_Reports_Path" value="H:\~QACompanion_Reports" />




    <add key="VBCBundledTemplateOLD" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PhysicianFeedbackTracker\bin\Debug\template\VBCBundledTemplate.xlsx" />
    <add key="VBCBundledTemplate" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - UCS Companion Application\Template\VBCBundledTemplate.xlsx" />
    <add key="VBCBundledTemplateTmp" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - UCS Companion Application\Temp\VBCBundledTemplate.xlsx" />



    <add key="ComplianceReportingTemplate" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - UCS Companion Application\Template\VBCBundledTemplate.xlsx" />


    <add key="UHCLogoPath" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - UCS Companion Application\Template\uhc_logo.png" />


    <add key="AskID" value="UHGWM110-021466" />
    <add key="CI" value="CI100358099" />
    <add key="AppName" value="UCS Companion Application" />
    <add key="Topic" value="com_eis_dasi_ness_producer_prod_core" />
    <add key="SchemaURL" value="https://ness-schema.optum.com/subjects/prod/versions/7" />
    <!--<add key="SchemaURL" value="https://ness-schema.optum.com/subjects/prod/versions/latest" />-->
    <!--<add key="BootstrapServers" value="apvrd21669.uhc.com:9093, apvrd21671.uhc.com:9093, apvrd22233.uhc.com:9093"/>-->
    <add key="BootstrapServers" value="apvrp24621.uhc.com:9093, apvrp24622.uhc.com:9093, apvrp24625.uhc.com:9093" />














    <add key="ClientSettingsProvider.ServiceUri" value="" />



    <!--PeiPort123!!-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
