<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ILUCA" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="FromEmail" value="chris_giordano@uhc.com" />
    <add key="ED_ADT_Executable" value="C:\Users\cgiorda\source\Workspaces\Workspace\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\ECG_API_Connect\bin\Debug\ECG_API_Connect.exe"/>
    <add key="ED_ADT_Source_Path" value="\\NASV0009\onc_uhg_emp_win_sas\Program\UEP\ICUE_ADT\EI_ER_report\SDR_Flat_Files\sdrFlatFiles"/>
    <add key="ED_ADT_Destination_Path" value="\\NASV0009\onc_uhg_emp_win_sas\Program\UEP\ICUE_ADT\EI_ER_report\SDR_Flat_Files\Test_Auto"/>
    <add key="ED_ADT_LogPath" value="\\nasv0009\ONC_UHG_Emp_WIN_SAS\Program\UEP\ICUE_ADT\EI_ER_report\SDR_Flat_Files\Test_Auto\log"/>
    <add key="ED_ADT_EmailRecipientsSuccess" value="jing.yang@uhc.com;annalise_raziq@uhc.com;michele_oswald@uhc.com"/>
    <add key="ED_ADT_EmailRecipientsFail" value="jing.yang@uhc.com;annalise_raziq@uhc.com;mike.jeanfreau@uhg.com"/>
    <add key="ED_ADT_EmailRecipientsError" value="jing.yang@uhc.com;chris_giordano@uhg.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>