<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="PageSize" value="23" />
    <!--REPORTS SECTION START-->
    <!--<add key="ReportsPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\PR_profiles_phase2_v1\bin\Debug\reports\{$profileType}\{$folderName}" />
    <add key="PEIPath" value="C:\TFS_ClinicalAnalytics\MAIN\Chris_Applications\VisualStudio2012\ClinicalAnalytics\PR_profiles_phase2_v1\bin\Debug\reports\PEIPath\" />-->


    <add key="ReportsPath" value="C:\~ProjectProfiles\Facility_Scorecard_1\{$profileType}\" />
    <add key="PEIPath" value="C:\~ProjectProfiles\Facility_Scorecard_1\PEIPath\" />




    <add key="StartDate" value="12/10/2018" />
    <add key="EndDate" value="6/30/2018" />
    <add key="ProfileDate" value="September 12, 2018" />
    <add key="VisibleWord" value="False" />
    <add key="VisibleExcel" value="False" />
    <add key="SaveWord" value="True" />
    <add key="SaveExcel" value="True" />
    <add key="ExcelTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\Facility_Scorecard_1\bin\Debug\template\scorecard_template.xlsx" />
    <!--<add key="WordTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PCR_Specialty_ch2\bin\Debug\template\pr_profile.docx" />-->


    <add key="WordLetter" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\Facility_Scorecard_1\bin\Debug\template\scorecard_template_letter.docx" />
    <add key="WordMain" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\Facility_Scorecard_1\bin\Debug\template\scorecard_template_main.docx" />
    <add key="WordOpioid" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\Facility_Scorecard_1\bin\Debug\template\scorecard_template_opioid.docx" />
    <add key="WordEnd" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\Facility_Scorecard_1\bin\Debug\template\scorecard_template_end.docx" />


    <add key="OverwriteExisting" value="False" />


    <add key="CA_Verbiage" value="Consistent with California Health and Safety Code Section 1367.49 and California Insurance Code Section 10133.64, we have supplied a copy of your report with this letter. We’ll publish surgical volume data from The Leapfrog Group and opioid prescribing rates, derived from UnitedHealthcare paid health plan claims data, publically in February 2019. If you wish to include a link to your website on myuhc.com as permitted by the laws noted above, please provide your website address by calling the Health Care Measurement Resource Center at 866-270-5588, no later than January 4, 2019." />

    <add key="CA_Verbiage2" value="The UnitedHealthcare Hospital Performance &amp; Transparency Program measures use data from the annual Leapfrog Hospital Survey and certain health plan claims data, including medical and pharmacy claims, to create a view of hospital performance. Not all facilities are eligible for evaluation for the program." />


    <add key="Phase" value="1.2" />
    <add key="SpecialtyId" value="4" />
    <add key="EpisodeCount" value="0" />


    <!--REPORTS SECTION END-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>