<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ILUCA" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="Sharepoint_Path" value="\\uhgazure.sharepoint.com\sites\SBS\Projects\Medical Necessity Resource\Medical Necessity ACIS and Quarterly Reports for N\Monthly ACIS Report for Med Nec"/>
    <add key="Processing_Path" value="C:\Users\cgiorda\Desktop\Medical Necessity Processing"/>


    <add key="ECGURL" value="https://ecgqcpift.healthtechnologygroup.com:9443"/>
    <add key="Username" value="cgiorda"/>
    <add key="Password" value="BooWooDooFoo2023!!"/>
    <add key="ECGDisplayName" value="NicholasJennings"/>

    <add key="SASFile" value="Test_ED_ADT_Report_V2.sas"/>
    <!--<add key="SASFile" value="Test_ED_ADT_Report.sas"/>-->
    <add key="SASPath" value="/hpsasfin/int/nas/bi_out/PCR/Vendor_Pilots/ER_Discharge/Test_Automation"/>
    <add key="SASPhysicalPath" value="\\nasgw056pn\bi_out\PCR\Vendor_Pilots\ER_Discharge\Test_Automation"/>

    <!--<add key="SAS_Host" value="sasgrid.uhc.com" />-->
    <add key="SAS_Host" value="sasfusionm6.uhc.com" />
    <add key="SAS_Port" value="8566" />
    <!--8565 8564-->
    <add key="SAS_ClassIdentifier" value="0217E202-B560-11DB-AD91-001083FF6836" />
    <!--440196D4-90F0-11D0-9F41-00A024BB830C-->
    <!--0217E202-B560-11DB-AD91-001083FF6836-->
    <add key="SAS_UN" value="cgiorda" />
    <add key="SAS_PW" value="BooWooDooFoo2023!!" />
    <add key="SAS_UN_UNIX" value="cgiorda" />
    <add key="SAS_PW_UNIX" value="BooWooDooFoo2023!!" />
    <add key="SAS_UN_Oracle" value="UHG_000556521" />
    <add key="SAS_PW_Oracle" value="Evie2022!!" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>