<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ILUCA" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
		<add key="LDAPPassword" value="Iluv2playtennis&amp;bsktball" />
		<add key="LDAPPath" value="" />
		<add key="LDAPUser" value="peisaid" />
		<add key="LDAPDomain" value="ms.ds.uhc.com" />
	</appSettings>



	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>