<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!--REPORTS SECTION START-->
    <add key="ReportsPath" value="C:\~ProjectProfiles\PR_Spec2_AdHoc_Details\" />
    <add key="ExcelTemplate" value="C:\Work\Clinical Analytics Code Share\MAIN\TFS_ClinicalAnalytics\PR_Spec2_AdHoc_Details\bin\Debug\template\PR_Spec2_Details_template.xlsx" />
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <!--REPORTS SECTION END-->


    <!--ADD MPINS WITHIN VALUE START
    <add key="MpinCSV" value="1849, 49439, 10559, 86, 1209, 137783, 1590, 1599, 10544, 1949, 2832, 5982, 27647, 6353,5689592, 6355280, 5663309, 6204465, 6206594, 3355147, 6071014, 6121382, 5812598, 5508163, 6076431, 5476996, 5756209, 5627941" />
    <add key="MpinCSV" value="48984, 58578, 476006, 801961, 1305830, 1236693, 1279784, 11669, 63918, 47969, 174662, 228207, 331529, 30656, 33652, 41023" />-->
    <add key="MpinCSV" value="1902059,831873, 1103193, 1993775,3145472,1002133,678835,1814146,2675173,1043471,1256222,2680122,2208527,821342,207945,2657328,1551961,3323285,20607,844631,3174501,1227210" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>