<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ILUCA" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="RequestPath" value="C:\Users\cgiorda\Desktop\MHP_Requests" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>