<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

 
    <add key="DatabaseConnectionString" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="environment" value="dev" />
   <!-- <add key="environment" value="prod"/>
    <add key="environment" value="stg"/>-->



  
   <!--<add key="LetterType" value="physician"/>-->
    <!--<add key="ProjectName" value="PCP_CH3_PR_Profiles_Physician"/>-->
    <!--<add key="ProjectName" value="PCP_CH3_PR_PM_Profiles"/>-->
    <!--<add key="ProjectName" value="SPEC_CH3_PR_PM_Profiles"/>-->
    <!--<add key="ProjectName" value="SPEC_CH3_PR_Profiles_Physician"/>-->
    <!--<add key="ProjectName" value="PCP_CH4_PR_Profiles_Physician"/>-->


    <!-- 
        <add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH5_PR_PM_Profiles\Final\"/>
    <add key="ProjectName" value="PCP_CH5_PR_PM_Profiles"/>
         <add key="LetterType" value="practice"/>
    
        <add key="pcr_location" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCR_Specialty_ch6_SAS\Final\RegularMailing"/>
    <add key="ProjectName" value="PCP_CH6_PR_Profiles"/>
    <add key="LetterType" value="physician"/>

    
    
    
    -->
    <!--<add key="pcr_location" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCP_CH6_PR_PM_Profiles\Final\"/>-->
    <add key="pcr_location" value="C:\Users\cgiorda\Desktop\TestLINK\" />
    <add key="ProjectName" value="PCP_CH6_PR_PM_Profiles" />
    <add key="LetterType" value="practice" />

    <!--
    
    
        <add key="pcr_location" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCP_CH6_PR_PM_Profiles\Final\"/>
    <add key="ProjectName" value="PCP_CH6_PR_PM_Profiles"/>
         <add key="LetterType" value="practice"/>
    
    
    
        <add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH5_PR_Profiles\Final\RegularMailing"/>
    <add key="ProjectName" value="PCP_CH5_PR_Profiles"/>
    <add key="LetterType" value="physician"/>
    
    
        <add key="pcr_location" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCR_Specialty_ch5_SAS\Final\RegularMailing"/>
    <add key="ProjectName" value="SPEC_CH5_PR_Profiles_Physician"/>
    <add key="LetterType" value="physician"/>
    
    -->


    <!--

    <add key="pcr_location" value="C:\Users\cgiorda\Documents\~ProjectProfiles\PCR_PM_Specialty_ch5_SAS\Final\"/>
    <add key="ProjectName" value="SPEC_CH5_PR_PM_Profiles"/>
    <add key="LetterType" value="practice"/>



 
        <add key="ProjectName" value="SPEC_CH4_PR_Profiles_Physician"/>
    <add key="pcr_location" value="\\nasv0048\ucs_ca\PHS_DATA_NEW\Home Directory - PCR\Specialty C4 2019\Automated profiles\Individual profiles"/>
     -->




     <!--<add key="ProjectName" value="PCP_CH4_PR_PM_Profiles"/>-->
    <!--<add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH4_PR_PM_Profiles\Final\RegularMailing"/>-->
    <!--<add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH4_PR_Profiles\Final\RegularMailing"/>-->
    <!-- <add key="pcr_location" value="C:\~ProjectProfiles\PCR_Specialty_ch3\Final\RegularMailing"/>-->
    <!-- <add key="pcr_location" value="C:\~ProjectProfiles\PCR_PM_Specialty_ch3\Final"/>-->
    <!-- <add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH3_PR_PM_Profiles\Final"/>-->
    <!--<add key="pcr_location" value="C:\Users\cgiorda\Desktop\PDF MetaData Test\testAPI"/>-->
    <!--<add key="pcr_location" value="C:\~ProjectProfiles\PCP_CH3_PR_Profiles\Final\RegularMailing"/>-->
    <!--<add key="pcr_location" value="C:\~ProjectProfiles\PR Spec Nov2017"/>-->
    <add key="pcr_download_results_location" value="C:\Users\cgiorda\Documents\~TestAPI_Download\" />




    <add key="clientId_dev" value="ikk5o2a2ovahr8ltjseppdac" />
    <add key="clientSecret_dev" value="9v1md9jomg1h69ro2btdc6uno8bg8kvp19dbam3khkau8mnjrt" />



    <add key="clientId_stg" value="3e906rsdavjkqm6nr9skf8rngq" />
    <add key="clientSecret_stg" value="1o4g1kf3fav45bf6jf9gk1h1fo88gp9ha0g3di4j88hkmn7egnkg" />


    <add key="clientId_prod" value="4j2rf8q1tk57222o827uudbuco" />
    <add key="clientSecret_prod" value="35a6a7lvbj4hsn98s6cdlvdrlhum5j2sjku0llrgqr8ef4aqu43" />


    <add key="tokenURL_dev" value="https://auth.test.federateddataservices.com/oauth2/token.json" />
    <add key="documentURL_dev" value="https://api.test.federateddataservices.com/core/v2/api/migration/documents/" />
    <add key="attachmentURL_dev" value="https://api.test.federateddataservices.com/v2/attachments/{$attachment_id}" />


    <add key="tokenURL_stg" value="https://fs2-stagedmz-ose3.optum.com:443/v2/oauth2/token.json" />
    <add key="documentURL_stg" value="https://fs2-stagedmz-ose3.optum.com:443/v2/documents/" />
    <add key="attachmentURL_stg" value="https://fs2-stagedmz-ose3.optum.com/v2/attachments/{$attachment_id}" />


    <add key="tokenURL_prod" value="https://federateddata.optum.com/v2/oauth2/token.json" />
    <add key="documentURL_prod" value="https://federateddata.optum.com/v2/documents/" />
    <add key="attachmentURL_prod" value="https://federateddata.optum.com/v2/attachments/{$attachment_id}" />


    <add key="external_id_dev" value="CSG0123" />
    <add key="space_id_dev" value="bb9e3049-2743-4b13-9eb2-ae88149b9d23" />

    <add key="external_id_stg" value="CSG0123" />
    <add key="space_id_stg" value="5d531df5-bdb5-48d6-b1ca-5cb5d3d4c878" />

    <add key="external_id_prod" value="CSG0123" />
    <add key="space_id_prod" value="ef3298ff-2944-40d4-bf19-ce064dee9d68" />





















    <!--<add key="clientId_dev" value="76af0ded169147cf84999b178956ee72"/>
    <add key="clientSecret_dev" value="9d8052a42b5c4fc1a951f632e00c00d9"/>



    <add key="clientId_stg" value="b4858ea3c0eb4bee81052d49100e3997"/>
    <add key="clientSecret_stg" value="28bd97248be749f3910f66cc95dc7f5d"/>


    <add key="clientId_prod" value="4fb7ee001b774a66b648bc2a3b7b018e"/>
    <add key="clientSecret_prod" value="7f1abad570c847d2b5ab549203334cf5"/>

  
    <add key="tokenURL_dev" value="https://fs2-stagedmz-ose3.optum.com:443/v2/oauth2/token.json"/>
    <add key="documentURL_dev" value="https://fs2-stagedmz-ose3.optum.com:443/v2/documents/"/>
    <add key="attachmentURL_dev" value="https://fs2-stagedmz-ose3.optum.com/v2/attachments/{$attachment_id}"/>


    <add key="tokenURL_stg" value="https://fs2-stagedmz-ose3.optum.com:443/v2/oauth2/token.json"/>
    <add key="documentURL_stg" value="https://fs2-stagedmz-ose3.optum.com:443/v2/documents/"/>
    <add key="attachmentURL_stg" value="https://fs2-stagedmz-ose3.optum.com/v2/attachments/{$attachment_id}"/>


    <add key="tokenURL_prod" value="https://federateddata.optum.com/v2/oauth2/token.json"/>
    <add key="documentURL_prod" value="https://federateddata.optum.com/v2/documents/"/>
    <add key="attachmentURL_prod" value="https://federateddata.optum.com/v2/attachments/{$attachment_id}"/>


    <add key="external_id_dev" value="CSG0123"/>
    <add key="space_id_dev" value="8919"/>

    <add key="external_id_stg" value="CSG0123"/>
    <add key="space_id_stg" value="8921"/>

    <add key="external_id_prod" value="CSG0123"/>
    <add key="space_id_prod" value="8918"/>-->


    <add key="SAS_Host" value="sasgrid.uhc.com" />
    <add key="SAS_Port" value="8565" />
    <add key="SAS_ClassIdentifier" value="0217E202-B560-11DB-AD91-001083FF6836" />
    <add key="SAS_UN" value="cgiorda" />
    <add key="SAS_PW" value="BooWooDooFoo2023!!" />
    <add key="SAS_UN_UNIX" value="cgiorda" />
    <add key="SAS_PW_UNIX" value="BooWooDooFoo2023!!" />



    <add key="ClientSettingsProvider.ServiceUri" value="" />



    <!--PeiPort123!!-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
