<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- OLD PHASE
    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="SourcePathRoot" value="C:\ProfileManagerSource\Phase2" />
    <add key="DestinationPathRoot" value="C:\ProfileManagerDestination\Phase2" />
    <add key="ProfileType" value="TIN" />
    <add key="PhaseID" value="1" />
    <add key="MailingID" value="1" />
    <add key="Extension" value=".pdf" />
    <add key="RecursiveSearch" value="false" />
    <add key="GroupResultsToTIN" value="false" />
    -->


    <add key="ILUCA_Database" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="SourcePathRoot" value="C:\ProfileManagerSource\Phase2" />
    <add key="DestinationPathRoot" value="C:\ProfileManagerDestination\Phase2" />
    <add key="ProfileType" value="MPIN" />
    <add key="PhaseID" value="1" />
    <add key="MailingID" value="1" />
    <add key="Extension" value=".txt" />
    <add key="RecursiveSearch" value="false" />
    <add key="GroupResultsToTIN" value="true" />





    <!--REPORTS SECTION END-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>