<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AskID" value="UHGWM110-008381" />
    <add key="CI" value="CI10436978" />
    <add key="AppName" value="PEI - Physicians Engagement and Improvement" />
    <add key="Topic" value="com_eis_dasi_ness_producer_dev_core" />
    <!--add key="Topic" value="com_eis_dasi_ness_producer_prod_core"/-->


   
    <add key="SchemaURL" value="https://ness-schema.optum.com/subjects/prod/versions/7" />

    <!--<add key="SchemaURL" value="https://ness-schema.optum.com/subjects/prod/versions/latest" />-->
    <add key="BootstrapServers" value="apvrd21669.uhc.com:9093, apvrd21671.uhc.com:9093, apvrd22233.uhc.com:9093" />
    <!--add key="BootstrapServers" value="apvrp24621.uhc.com:9093, apvrp24622.uhc.com:9093, apvrp24625.uhc.com:9093"/-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
