<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ILUCA" value="data source=IL_UCA;server=wn000005325;Persist Security Info=True;database=IL_UCA;Integrated Security=SSPI;connect timeout=300000;" />
    <add key="File_Path" value="\\nasv1005\fin360\phi2\acad\Program\Radiology\eviCore Monthly Reporting Package" />

    <add key="Tat_Path" value="\\NASGWFTP03\Care_Core_FTP_Files\Radiology" />
    
    <add key="File_Path2" value="\\msp09fil01\Radiology\Notification\CCN\Reports (from CCN)\CCN-Monthly" />
    <add key="File_List" value="C:\Users\cgiorda\Desktop\EviCoreTest\filelist.xlsx" />


    <add key="AvtarFile_Path" value="\\nasgw096pn\Operational Metrics Portal\hcemi reports\Clinical_Coverage_Review\AuthTrendReports" />
    <add key="AvtarFinal_File_Path" value="C:\Users\cgiorda\Desktop\AVTAR" />


    <add key="SiteOfCareFile_Path" value="\\msp09fil01\Radiology\Notification\CCN\Reports (from CCN)\CCN-Monthly" />
    <add key="SiteOfCareFinal_File_Path" value="C:\Users\cgiorda\Desktop\SiteOfCare" />

    <add key="SiteOfCare2File_Path" value="\\msp09fil01\Radiology\Notification\CCN\Reports (from CCN)\CCN-Monthly" />
    <add key="SiteOfCare2Final_File_Path" value="C:\Users\cgiorda\Desktop\SiteOfCareV2" />
    
    

    <add key="YTDCiscoFile_Path" value="\\NASGWFTP03\Care_Core_FTP_Files\Radiology" />


    <add key="SiteOfCareCSFile_Path" value="\\msp09fil01\Radiology\Notification\CCN\Reports (from CCN)\CCN-Monthly" />
    <add key="SiteOfCareCSFinal_File_Path" value="C:\Users\cgiorda\Desktop\Americhoice NC Site Of Care Report" />


   <!-- <add key="ScoreCardDateFile_Path" value="\\msp09fil01\Radiology\Notification\CCN\Reports (from CCN)\CCN-Monthly" />-->
    <add key="ScoreCardDateFile_Path" value="\\NASGWFTP03\Care_Core_FTP_Files\Radiology" />
    

    <!--<add key="Americhoice_File_Path" value="\\nasv1005\fin360\phi2\acad\Program\Radiology\eviCore Monthly Reporting Package\C&amp;S Monthly" />-->
    <!--<add key="Americhoice_File_Path" value="\\msp09fil01\Radiology\Community &amp; State\Reports\From eviCore\Monthly" />-->
    <!--<add key="Americhoice_File_Path" value="\\msp09fil01\Radiology\Community &amp; State\Reports\From eviCore\Monthly" />-->
    <add key="Americhoice_File_Path" value="\\NASGWFTP03\Care_Core_FTP_Files\Ovations" />
    <add key="Americhoice_Process" value="C:\Users\cgiorda\Desktop\EviCoreModality" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
